# ForgeGradle
/.gradle
/build
/run

# Minecraft runtime files and config files
/logs
/config
options.txt
/saves
usernamecache.json

# Eclipse
.classpath
.project
/.settings
/bin
/eclipse

# IntelliJ
/.idea
*.iml
*.ipr
*.iws
/out

# Mac Stuff
.DS_Store
*.command

# Windows Stuff
Thumbs.db
Desktop.ini

# Thumbnails
._*

### Linux ###
*~

# KDE directory preferences
.directory


### Java ###
*.class
*.jar
*.war
*.ear
hs_err_pid*

# External APIs
/lib

# BeefCore, when it's copied into the source tree
/src/main/java/erogenousbeef/core
